---
import { useStoryblokApi } from "@storyblok/astro";
const storyblokApi = useStoryblokApi();
let content;
try {
  const { data } = await storyblokApi.get("cdn/stories/contactsection", {
    version: import.meta.env.DEV ? "draft" : "published",
  });
  content = data.story.content;
} catch (error) {}
const formSubmit = content?.contactForm?.find(
  (item: any) => item?.fieldType === "button"
);
console.log(formSubmit?.label);
---

<!-- To make this contact form work, create your free access key from https://web3forms.com/ Then you will get all form submissions in your email inbox. -->
<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }
  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }
  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }
  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>
<script is:inline>
  const form = document.getElementById("form");
  const result = 'document.getElementById("result");';
  form?.addEventListener("submit", function (e) {
    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);
    result.innerHTML = "Sending...";
    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.classList.add("text-green-500");
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.classList.add("text-red-500");
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
</script>
<section
  id="contact"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2 class="text-center font-extrabold tracking-tight text-primary text-6xl">
      {content?.contactTopSection[0]?.title}
    </h2>
  </div>
  <div
    class="flex w-full max-w-6xl flex-col items-center gap-4 md:flex-row md:flex-row-reverse"
  >
    <div class="flex w-full md:w-3/6" id="contact">
      <div class="container mx-auto">
        <div class="mx-auto my-10 w-full rounded-md bg-gray-800 p-5 shadow-sm">
          <div class="text-center md:hidden">
            <p class="text-gray-400 dark:text-gray-400">
              <Fragment
                set:html={content?.contactInfoSection[0]?.detailsValue}
              />
            </p>
          </div>
          <div class="m-7">
            <form
              action="https://api.web3forms.com/submit"
              method="POST"
              id="form"
            >
              <input
                type="hidden"
                name="access_key"
                value="0a35d089-c428-44d0-8b42-9caa19d05210"
              />
              <input
                type="hidden"
                name="subject"
                value="New Submission from Incresco website visitor"
              />
              <input
                type="checkbox"
                name="botcheck"
                class="hidden"
                style="display: none;"
              />
              <input
                type="hidden"
                name="redirect"
                value="https://increscotech.com/thanks"
              />

              {
                content?.contactForm?.map((item: any) => {
                  return item?.fieldType === "input" ? (
                    <div class="mb-6">
                      <label
                        for={item?.name || "name"}
                        class="mb-2 block text-sm text-gray-400"
                      >
                        {item?.label || "Full Name"}
                      </label>
                      <input
                        type={item?.text || "text"}
                        name={item?.name || "name"}
                        id={item?.name || "name"}
                        placeholder={item?.placeholder || "John Doe"}
                        required
                        class="h-12 w-full rounded-sm bg-gray-100 px-3 py-2 text-sm text-gray-900 placeholder-gray-500 focus:outline-none"
                      />
                    </div>
                  ) : (
                    <div class="mb-6">
                      <label
                        for={item?.name || "message"}
                        class="mb-2 block text-sm text-gray-400"
                      >
                        {item?.label || "Your Message"}
                      </label>

                      <textarea
                        name={item?.name || "message"}
                        id={item?.name || "message"}
                        placeholder={item?.placeholder || "Your Message"}
                        class="w-full rounded-sm bg-gray-100 px-3 py-2 text-sm text-gray-900 placeholder-gray-500 focus:outline-none"
                        required
                      />
                    </div>
                  );
                })
              }

              <div class="mb-6">
                <button
                  type={formSubmit?.type || "submit"}
                  class="hover:scale-102 inline-block w-full justify-center gap-3 border-2 border-current px-6 py-4 text-white duration-300 hover:-translate-y-1 hover:border-red-500 hover:text-primary"
                >
                  {formSubmit?.label || "Send Message"}
                </button>
              </div>
              <p class="text-center text-gray-400 text-base" id="result"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <slot />
    <div class="w-full items-center justify-center md:w-3/6">
      <p class="mb-4 hidden text-xl md:flex">
        <Fragment set:html={content?.contactInfoSection[0]?.detailsValue} />
      </p>
      <p class="mb-4 text-lg">
        <span>{content?.contactInfoSection[0]?.emailLabel}</span><span
          class="text-sm"
        >
          {content?.contactInfoSection[0]?.emailValue}</span
        >
      </p>
      <p class="mb-4 text-sm">
        <span class="text-lg">
          {content?.contactInfoSection[0]?.locationLabel}</span
        >
        <br />{content?.contactInfoSection[0]?.addressLine1}<br />{
          content?.contactInfoSection[0]?.addressLine2
        }
        <br />
        {content?.contactInfoSection[0]?.addressLine3}
        <br />{content?.contactInfoSection[0]?.addressLine4}
        <br />
      </p>
    </div>
  </div>
</section>
