---
import { SITE, BLOG } from "~/config.mjs";
import PageLayout from "~/components/layout/PageLayout.astro";
import BlogList from "~/components/blog/List.astro";
import Pagination from "~/components/blog/Pagination.astro";
import Headline from "~/components/blog/HeadLine.astro";
import { fetchPosts } from "~/utils/blogUtils";

import { CATEGORY_BASE } from "~/utils/permalinks";
import { useStoryblokApi } from "@storyblok/astro";

export async function getStaticPaths({ paginate }) {
  if (BLOG?.disabled || BLOG?.category?.disabled) return [];
  const storyblokApi = useStoryblokApi();

  let posts: any = [];
  try {
    const { data } = await storyblokApi.get("cdn/stories/blog-section", {
      version: import.meta.env.DEV ? "draft" : "published",
    });
    posts = data.story.content.blogSection;
  } catch (error) {
    console.log("error", error);
  }
  const categories = new Set();
  posts.map((post: any) => {
    typeof post.category === "string" &&
      categories.add(post.category.toLowerCase());
  });

  return Array.from(categories).map((category: any) =>
    paginate(
      posts
        .filter(
          (post: any) =>
            typeof post.category === "string" &&
            category === post.category.toLowerCase()
        )
        .sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate)),

      {
        params: {
          category: category.replaceAll(" ", "-"),
          blog: CATEGORY_BASE || undefined,
        },
        pageSize: BLOG.postsPerPage,
        props: { category },
      }
    )
  );
}

const { page, category } = Astro.props;
const { generator, site } = Astro;
const image = new URL("logo.png", site);

const currentPage = page.currentPage ?? 1;

const meta = {
  title: `Incresco Blog Category ' ${category}' ${
    currentPage > 1 ? ` — Page ${currentPage}` : ""
  }`,
  description: SITE.description,
  noindex: BLOG?.category?.noindex,
  image,
};
---

<PageLayout meta={meta}>
  <section class="mx-auto max-w-6xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline>
      <span class="capitalize">{category.replaceAll("-", " ")}</span>
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</PageLayout>
