---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

import { BLOG } from "~/config.mjs";
import type { Post } from "~/types";

import { getPermalink } from "~/utils/permalinks";
import { findImage } from "~/utils/images";
import { getFormattedDate } from "~/utils/common";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, "post") : "";
---

<article class={`font-sans m-4  flex flex-col `}>
  {
    image && (
      <a class="group relative block" href={link ?? "javascript:void(0)"}>
        <div class="relative h-0 overflow-hidden rounded   shadow-lg   md:pb-[75%] ">
          {image && (
            <Picture
              src={image}
              class="object-fit absolute inset-0 mb-6 h-full w-full  rounded shadow-lg "
              widths={[300, 600, 1000]}
              sizes="(max-width: 800px) 100vw, 40vw"
              alt={post.title}
              aspectRatio="1:1"
              loading="lazy"
              decoding="async"
              fit="fill"
            />
          )}
        </div>
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <div class="mb-1">
        <span class="text-sm">
          <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5" />
          <time datetime={String(post.publishDate)}
            >{getFormattedDate(post.publishDate)}</time
          >
        </span>
      </div>
      <h2 class="text-md mb-2 leading-tight">
        {
          link ? (
            <a
              class=" no-underline transition duration-200 ease-in"
              href={link}
            >
              {post.title}
            </a>
          ) : (
            post.title
          )
        }
      </h2>
    </header>
  </div>
</article>
