---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import PostTags from "~/components/blog/Tags.astro";

import { BLOG } from "~/config.mjs";
import type { Post } from "~/types";

import { getPermalink } from "~/utils/permalinks";
import { findImage } from "~/utils/images";
import { getFormattedDate } from "~/utils/common";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = post.slug;
---

<article
  class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${
    image ? "md:grid-cols-2" : ""
  }`}
>
  {
    image && (
      <a class="group relative block" href={link ?? "javascript:void(0)"}>
        <div class="relative h-0 overflow-hidden rounded bg-gray-400 pb-[56.25%] shadow-lg dark:bg-slate-700 md:h-72 md:pb-[75%] lg:pb-[56.25%]">
          {image && (
            <Picture
              src={image}
              class="absolute inset-0 mb-6 h-full w-full rounded bg-gray-400 object-cover shadow-lg dark:bg-slate-700"
              widths={[300, 600, 1000]}
              sizes="(max-width: 800px) 100vw, 40vw"
              alt={post.title}
              aspectRatio="1:1"
              loading="lazy"
              decoding="async"
              fit="contain"
            />
          )}
        </div>
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <div class="mb-1">
        <span class="text-sm">
          <Icon
            name="tabler:clock"
            class="-mt-0.5 inline-block h-3.5 w-3.5 dark:text-gray-400"
          />
          <time datetime={String(post.publishDate)}
            >{getFormattedDate(new Date(post.publishDate))}</time
          >
          {
            post.category && (
              <>
                {" "}
                ·{" "}
                <a
                  class="capitalize hover:underline"
                  href={getPermalink(
                    post.category.toLowerCase().replaceAll(" ", "-"),
                    "category"
                  )}
                >
                  {post.category.replaceAll("-", " ")}
                </a>
              </>
            )
          }
        </span>
      </div>
      <h2 class="font-heading mb-2 font-bold leading-tight text-xl sm:text-2xl">
        {
          link ? (
            <a
              class="hover:text-primary transition duration-200 ease-in "
              href={getPermalink(link, "tags")}
            >
              {post.title}
            </a>
          ) : (
            post.title
          )
        }
      </h2>
    </header>

    {
      post.excerpt && (
        <p class="text-offset flex-grow text-sm ">{post.excerpt}</p>
      )
    }
    <footer class="mt-5">
      <PostTags
        tags={post.tags
          .split(",")
          .map((e) => e.trim().toLowerCase().replaceAll(" ", "-"))}
      />
    </footer>
  </div>
</article>
