---
import { useStoryblokApi } from "@storyblok/astro";
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";

const storyblokApi = useStoryblokApi();
export interface LinkSection {
  footerBlockItems: string;
  icon: string;
  url: string;
}
let content, linkSection: Array<LinkSection>;
try {
  const { data } = await storyblokApi.get(
    "cdn/stories/global-components/footer-component",
    { version: import.meta.env.DEV ? "draft" : "published" }
  );
  content = data.story.content;
  linkSection = data.story.content.footerSection;
} catch (error) {
  console.log("error", error);
}
---

<footer class="relative flex h-32 flex-col items-center justify-center">
  <ul class="relative grid grid-cols-3 gap-8">
    {
      linkSection.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full  p-2"
            href={link.url}
          >
            <span class="sr-only">{link.footerBlockItems}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>

  <div class="items-center justify-center p-4 text-center text-xs">
    {content.bottomBanner[0].bottomQuote}<br />
    {content.bottomBanner[0].bottomquote}
  </div>
  <div class="items-center justify-center p-4 text-center text-xs">
    {content.bottomBanner[0].copyRightText}
    <a class="underline" href={content.bottomBanner[0].beaconUrl}>
      {content.bottomBanner[0].carbonContent}</a
    >
    {content.bottomBanner[0].energyText}
    <a class="underline" href={content.bottomBanner[0].greenWebFoundation}>
      {content.bottomBanner[0].renewableEnergy}
    </a>
  </div>
</footer>
